<!-- <div class="w-1/6 h-full fixed bg-gray-700 px-4 pt-5" > -->

    <p class="text-gray-400 text-sm" >
        NAVEGACION
    </p>

    <div class="my-5 space-y-3 flex flex-col items-start">
        <button routerLink="/empleados" routerLinkActive="bg-gray-100" 
            class="text-gray-400 text-sm text-left hover:bg-gray-100 w-full rounded-md p-2 transition hover:scale-105 duration-300" >
            <i class="fas fa-home-lg"></i> Empleados
        </button>

        <button class="text-gray-400 text-sm text-left hover:bg-gray-100 w-full rounded-md p-2 transition hover:scale-105 duration-300" >
            <i class="fas fa-tasks-alt"></i> Informes
        </button>

        <button routerLink="/miPerfil" routerLinkActive="bg-gray-100" 
            class="text-gray-400 text-sm text-left hover:bg-gray-100 w-full rounded-md p-2 transition hover:scale-105 duration-300" >
            <i class="fa-solid fa-user"></i> Mi perfil
        </button>

        <button class="text-gray-400 text-sm text-left hover:bg-gray-100 w-full rounded-md p-2 transition hover:scale-105 duration-300" >
            <i class="fas fa-home-lg"></i> Puestos
        </button>

        <button class="text-gray-400 text-sm text-left hover:bg-gray-100 w-full rounded-md p-2 transition hover:scale-105 duration-300" >
            <i class="fa-solid fa-camera-retro"></i> Departamentos 
        </button>

        <button class="text-gray-400 text-sm text-left hover:bg-gray-100 w-full rounded-md p-2 transition hover:scale-105 duration-300" >
            <i class="fas fa-home-lg"></i> Unidad
        </button>

    </div>

<!-- </div> -->
