<div class="bg-white w-full h-full rounded-2xl p-5">
    <div class="h-1/2 border border-gray-400 flex">

        <div class="w-1/4 h-full flex flex-col items-center py-3 px-2 space-y-4">
            <img class="w-1/2 h-1/2 border border-gray-600 rounded-full" src="../assets/incognito.png" alt="">
            <div class="w-full">
                <p >
                    <samp class="font-bold text-lg">Nombre:</samp>  {{login.usuario.alias}}
                </p>
                <p>
                    <samp class="font-bold text-lg">Correo:</samp>  {{login.usuario.correo}}
                </p>
            </div>
            <div class="w-full">
                Puntuacion: 3
                <div class="w-full space-x-3">
                    <input class="accent-amber-300 w-5 h-5" checked type="checkbox">
                    <input class="accent-amber-300 w-5 h-5" checked type="checkbox">
                    <input class="accent-amber-300 w-5 h-5" checked type="checkbox">
                    <input class="accent-amber-300 w-5 h-5" type="checkbox">
                    <input class="accent-amber-300 w-5 h-5" type="checkbox">
                    <input class="accent-amber-300 w-5 h-5" type="checkbox">
                </div>

            </div>
        </div>

        <div class="w-3/4 h-full bg-slate-300">
            
        </div>

    </div>
    <div class="h-1/3 border border-gray-500 grid grid-cols-4 gap-4">
        <div class=" ">
            <div class="p-6 text-justify text-sm space-y-2">
                <div>
                    1. f. Acontecimiento que sobreviene en el curso de un asunto o negocio y tiene con él alguna conexión. 2.
                </div>
                <div class="text-2xl w-full text-center">
                    Incidencias
                </div>
                <div class="w-full flex justify-center">
                    <img class="w-1/3 pt-2" src="../assets/imagen incidencias.png" alt="">
                </div>
            </div>

        </div>
        <div class=" ">
            <div class="p-6 text-justify text-sm space-y-2">
                <div>
                    Las retenciones son una especie de pago del Impuesto sobre la Renta de Personas Físicas (IRPF) para Hacienda que se aplica directamente a las ganancias.
                </div>
                <div class="text-2xl w-full text-center">
                    Retenciones
                </div>
                <div class="w-full flex justify-center">
                    <img class="w-1/4 pt-2"  src="../assets/lupa.png" alt="">
                </div>
            </div>
        </div>
        <div class=" ">
            <div class="p-6 text-justify text-sm space-y-2">
                <div class="text-3xl text-center">
                    Sin Horas
                </div>
                <div class="text-2xl w-full text-center">
                    Horas extras
                </div>
                <div class="w-full flex justify-center">
                    <img class="w-1/4 pt-2" src="../assets/horas3.png" alt="">
                </div>
            </div>
        </div>
        <div class=" ">
            <div class="p-6 text-justify text-sm space-y-2">
                <div>
                    El IMSS, es la institución con mayor presencia en la atención a la salud y en la protección social de los mexicanos desde su fundación en 1943.
                </div>
                <div class="text-2xl w-full text-center">
                    IMSS
                </div>
                <div class="w-full flex justify-center">
                    <img class="w-1/4 pt-2" src="../assets/IMSS.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>